html{
    //primary
    --primaryCOlor: #C20C0C;  

    //header
    --headerColor: #242424;
    --navBgcSelect: #000;
    --navColor: #ccc;
    --navColorSelect: #fff;
    --creatorBor: #4F4F4F;
    --indicatorBgc: #9B0909;

    //footer
    --footerBgc: #f2f2f2;
}